@import "./variables.scss";

.navbar {
  background-color: $navbar-color;
}

.navbar-brand {
  font-family: "Londrina Solid", cursive;
  font-size: 2em;
  padding: 0px;
}

@media screen and (max-width: $breakpoint-sm) {
  // right-align menu items and add separators on collapsed menu
  .nav-link {
    text-align: right;
    border-top: 1px solid #555;
  }
}

/*
.container {
  align-items: center;
}

.container > * {
  margin: 0 auto;
}

.current {
  color: white;
}

*/

// .navbar button,
// .hamburger-container {
//   width: 200px;
// }

// @media screen and (max-width: 800px) {
//   .dropdown {
//     order: 3;
//   }
// }

// .navbar button {
//   order: 3;
// }

// .navbar-brand {
//   order: 1;
// }

// .hamburger-container {
//   order: 2;
// }

// .container > * {
//   width: 200px;
// }
