@import "./variables.scss";

.jumbotron-container {
  padding: 0 2em;
}

.jumbotron {
  text-align: center;
  // margin: 2em;
  background-color: $card-background;
  max-width: 800px;
  min-height: 306px;
  margin: 0 auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}

.prompt-text {
  padding-bottom: 1.5em;
}

.category-title {
  text-transform: uppercase;
  color: orange;
  font-weight: bold;
  font-size: 1.3em;
}
