@import "./variables.scss";

.spinner-border {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border-width: 15px;
}

.loading {
  opacity: 0.7;
}

.prompt-text {
  padding-bottom: 1.25em;
}

.category-title {
  text-transform: uppercase;
  // color: orange;
  color: $accent-color;
  font-weight: bold;
  font-size: 1.3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@media screen and (max-width: $breakpoint-sm) {
  .prompt-container {
    min-height: 200px;
  }

  .next-button {
    font-size: 1em;
    padding: 4px 8px;
  }

  .category-title {
    font-size: 1em;
  }

  .prompt-text {
    font-size: 1.25em;
  }
}
