$breakpoint-sm: 576px;

$card-bg-color: white;
$app-bg-color: #00a8e8;
$navbar-color: #343a40;
$accent-color: orange;

// https://coolors.co/1f2421-216869-9dbf9e-49a078-b3ffb3
// $card-bg-color: white;
// $app-bg-color: #b3ffb3;
// $navbar-color: #1f2421;
// $accent-color: #216869;

// $card-bg-color: white;
// $app-bg-color: #ebbab9;
// $navbar-color: #1f2421;
// $accent-color: #9dbf9e;
